<div id="accordion"></div>

<br />

<div class="new_list_form">
  <h1>Neue Todoliste anlegen</h1>
  <div id="new_list_dialog">
    <form>
  		<div>
  			<label>Name der Liste </label><br />
  			<input type="text" value="" name="title"/>
  		</div>
  		<div>
        <label>Benuzer </label><br />
        <input type="text" value="" name="owners"/>
      </div>
    	<input type='submit' value='Create'/>
    </form>
  </div>
</div>