<div id="header">
  <a href="#" id="login_button">SignIn</a>
  <a href="#" id="logout_button">SignOut</a>
  <a href="#" id="register_button">SignUp</a>
</div>

<div id="todolist"></div>

<div id="new_todo_dialog">
  <form>
    <div>
      <label>Beschreibung </label><br />
      <input type="text" value="" name="descr"/>
    </div>
    <input type='submit' value='Create'/>
  </form>
</div>

<div id="sign_up_dialog">
  <form>
    <div>
      <label>Benutzername </label><br />
      <input type="text" value="" name="name"/>
    </div>
    <div>
      <label>Passwort </label><br />
      <input type="password" value="" name="password"/>
    </div>
    <input type='submit' value='SignUp!'/>
  </form>
</div>

<div id="sign_in_dialog">
  <form>
    <div>
      <label>Benutzername </label><br />
      <input type="text" value="" name="name"/>
    </div>
    <div>
      <label>Passwort </label><br />
      <input type="password" value="" name="password"/>
    </div>
    <input type='submit' value='SignIn!'/>
  </form>
</div>